#search {
  padding: 3rem;
  text-align: center;

  input {
    margin-top: 1.5rem;
    width: 30rem;
    max-width: 80%;
    border: 1px solid #555;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.75rem;

    &:focus-visible {
      outline: none;
      border-color: #777;
    }
  }
}

#result {
  border: 1px solid var(--border);
  padding: 1rem;
}